@import url('https://fonts.googleapis.com/css?family=Open+Sans:700');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}

body {
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
}

.header {
}

ul {
    list-style: none;
}

nav {
    margin-left: 20%;
    margin-right: 20%;
}

.nav_list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    font-size: 22px;
    min-height: 50px;
}

li{
    min-height: 50px;
}

.nav_link {
    text-decoration: none;
    padding: 0px 10px;
    padding-bottom: 2px;
    color:rgba(0, 0, 0, 0.774);
    font-family:'Open Sans';
}

.nav_link:hover{  
    border-bottom: 2px solid black; 
    color:rgb(0, 0, 0);
}

.footer {
}

.useful_links {
}

main {
}

.logo {
}