@import url('https://fonts.googleapis.com/css?family=Open+Sans:700');
@import url("https://fonts.fontstorage.com/import/nautilus.css");
@import url("https://fonts.fontstorage.com/import/sweetmavkascript.css");

/* https://www.w3schools.com/CSS/css3_images.asp можно что-то использовать для дизайна изображенний*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Montserrat, sans-serif;
}

body {
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    /*background: linear-gradient(to right, #F6EFD2, #CEAD78);*/
    /*background: linear-gradient(45deg, #EECFBA, #C5DDE8);*/
    /*background: linear-gradient(to top left, powderblue, pink);*/
    /*background: radial-gradient(at top, #FEFFFF, #A7CECC);*/
    /*background: linear-gradient(66deg, #e38010, #1535bf);*/
    /*background: linear-gradient(to right, #020080, #00f, #020080);*/
    background-image: linear-gradient(to right, #bbb7b7, #ffffff); 
}

ul {
    list-style: none;
    margin: 0px 0px;
}

img {
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5), 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.link-design {
    text-decoration: none;
    color:rgb(0, 0, 0);
}

.link-design:hover {
    border-bottom: 1px solid black; 
    color:rgba(0, 0, 0, 0.774);
}

p {
    margin-bottom: 10px;
    line-height: 1.6;
    text-align: left;
    margin-left: 15%;
    margin-right: 15%;
    /*color: #5d5d5d;*/
}

.site-title {
    font-size: 112px;
    font-family: 'Sweet Mavka Script';
}

.site-description {
    font-size: 12px;
    letter-spacing: 0.26rem;
    color: #9d9d9d;
    text-transform: uppercase;
    position: relative;
    left: 100px;
    bottom: 25px;
}

.logo {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 25px;
}

h1 {
    display: block;
    text-align: center;
    /*margin-top: 15px;
    margin-bottom: 15px;*/
}

h2 {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}

h3 {
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: center;
}

h4 {
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: center;
}

nav {
    margin-left: 20%;
    margin-right: 20%;
}

.nav_list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    font-size: 22px;
    min-height: 50px;
}

li{
    min-height: 50px;
}

.nav_link {
    text-decoration: none;
    padding: 0px 10px;
    padding-bottom: 2px;
    color:rgba(0, 0, 0, 0.774);
    font-family:'Open Sans';
    text-wrap: nowrap;
}

.nav_link:hover{  
    border-bottom: 2px solid black; 
    color:rgb(0, 0, 0);
}

.block_container {
    margin-top: 50px;
    margin-bottom: 50px;
}

.flexible_container {
    margin-top: 15px;
    display:flex;
    flex-direction: row;
    justify-content:baseline;
}

.expansion {
    justify-content: start;
}

.left-container {
    width: 50%;
}

.right-container {
    width: 50%
}

.left-container img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.right-container img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.blogs_list {
    padding-top: 10px;
}

.blogs_list li {
    margin-bottom: -15px;
}

.useful_links {
    text-align: left;
    margin-left: 15%;
    margin-right: 15%;
}

.useful_link {
    margin-bottom: -15px;
}

.indentation_element {
    margin-left: 50px;
    margin-top: 10px;
}

.indentation_element p {
    margin-left: 0;
    margin-right: 0;
}

.figure {
    padding-top: 15px;
    text-align: center;
}

figcaption{
    margin-top: 5px;
}

.fa-vk {
    content: '\f189';
    font-family: 'Font Awesome 5 Brands';
    font-weight: 400;
}

.fa-telegram {
    content: '\f2c6';
    font-family: 'Font Awesome 5 Brands';
    font-weight: 400;
}

.social-icons {
    padding: 0;
    list-style: none;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}
.social-icons li {
    display: inline-block;
    position: relative;
}
.social-icons li a {
    border-bottom: none;
    width: 60px;
    height: 60px;
    display: inline-block;
    text-align: center;
    margin: 0 4px;
    border-radius: 50%;
    padding: 6px;
    box-sizing: border-box;
    text-decoration:none;
    box-shadow: 0 8px 12px rgba(0,0,0,0.3);
    background: linear-gradient(0deg, #ddd, #fff);
    transition: .5s;
    background-image: linear-gradient(to right, #bbb7b7, #ffffff); 
}
.social-icons li a:hover {
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    color: #000;
}
.social-icons li a i {
    display: block;
    background: linear-gradient(0deg, #fff, #ddd);
    border-radius: 50%;
    padding: 12px;
    font-size: 24px;
    color: #969696;
    transition: .5s;
    width: 24px;
    height: 24px;
    position: absolute;
    box-sizing: content-box;
}
.social-icons li a:hover i {
    color: #337AB7;
}

.footer {
    margin-top: 55px;
    margin-bottom: 30px;
}

.vk_reels {
    margin-top: 15px;
    margin-bottom: 15px;

}

.link_vk_reels {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.vertical-alignment {
    vertical-align: middle;
}

.vertical-alignment-img {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}

.bold-text {
    font-weight: bold;
}

.picture-on-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

/*.caption-shadow {
    position: relative;
    border: 5px solid #FAAB1B;
    margin-top: auto;
    margin-bottom: auto;
  }
  .caption-shadow img {
    display: block;
  }
  .caption-shadow figcaption {
    padding: 10px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    background: #FAAB1B;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: absolute;
    left: 0;
    bottom: 0;
    box-shadow: 0 -10px 20px -5px hsla(0, 0%, 0%, .4);
  } */