* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}

html {
    background-color: rgb(126, 123, 123);
}

body {
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    min-height: 100vh;
}

.header {
    background-color: hsla(0, 0%, 100%, 0.853);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color:rgba(0, 0, 0, 0.974);
}

nav {
    border: 2px solid rgb(7, 7, 7);
}

.nav_list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    font-size: 22px;
    min-height: 50px;
}

.nav_link {
    padding: 0px 5px;
    padding: 20px;
    display: inline-block;
    font-stretch:50%;
    transition: 0.5s ease
}
main {
    border: 2px solid rgb(7, 7, 7);
    background-color: hsla(0, 0%, 100%, 0.853);
    height: 800px;
}

.nav_item:hover {
    background-color: rgb(206, 203, 203);
}

.logo {
    min-height: 200px;
    border: 2px solid rgb(7, 7, 7);
}